@mixin overhead {
  font-size: 1.3rem;
  font-family: 'GilroyRegular';
}

@mixin footer-title {
  border-bottom: 0.1rem solid #333333;
  align-self: end;

  p {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: 'GilroyMedium';
    margin-bottom: 1rem;
  }
}

@mixin media813rem {
  @media all and (max-width: 81.3rem) {
    @content;
  }
}

@mixin media75rem {
  @media all and (max-width: 75rem) {
    @content;
  }
}

@mixin media619rem {
  @media all and (max-width: 61.9rem) {
    @content;
  }
}

@mixin media4065rem {
  @media all and (max-width: 40.65rem) {
    @content;
  }
}

@mixin cards {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  @content;
}